<body>
    <header>
        <div class="logo">Image Gallery</div>
        <div class="user-info">
            <span class="user-name">{{user.displayName}}</span>
            <button class="logout-btn" (click)="signOut()">Logout</button>
        </div>
    </header>
    
    <main>
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li><a href="#" class="active">My Gallery</a></li>
                <li><a href="#">Public Gallery</a></li>
                <li><a href="#">Profile Settings</a></li>
            </ul>
            
            <div class="action-buttons">
                <button (click)="openUploadModal()" class="action-btn" id="upload-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="17 8 12 3 7 8"></polyline>
                        <line x1="12" y1="3" x2="12" y2="15"></line>
                    </svg>
                    Upload Image
                </button>
                <button class="action-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                        <path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
                    </svg>
                    Create Album
                </button>
            </div>
        </div>
        
        <div class="content">
            <h1 class="page-title">My Gallery</h1>
            
            <div class="gallery">

                <div class="image-card">
                    <div class="image-container">
                        <img src="../../../public/favicon.ico" alt="image alt text comes here">
                        <div class="image-overlay">
                            <button class="overlay-button">View</button>
                            <button class="overlay-button">Edit</button>
                        </div>
                    </div>
                    <div class="image-details">
                        <div class="image-name"></div>
                        <div class="image-date"></div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    
    <!-- Upload Modal -->
     <app-upload *ngIf="showUploadModal" (closeModal)="handleCloseEvent($event)"></app-upload>

</body>
